<h1>Listing receivers</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Frequency</th>
      <th>User</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Haat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @receivers.each do |receiver| %>
      <tr>
        <td><%= receiver.location %></td>
        <td><%= receiver.frequency %></td>
        <td><%= receiver.user %></td>
        <td><%= receiver.latitude %></td>
        <td><%= receiver.longitude %></td>
        <td><%= receiver.haat %></td>
        <td><%= link_to 'Show', receiver %></td>
        <td><%= link_to 'Edit', edit_receiver_path(receiver) %></td>
        <td><%= link_to 'Destroy', receiver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Receiver', new_receiver_path %>
