<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @agency.title %>
</p>

<p>
  <strong>Address:</strong>
  <%= @agency.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @agency.city %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @agency.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @agency.phone %>
</p>

<%= link_to 'Edit', edit_agency_path(@agency) %> |
<%= link_to 'Back', agencies_path %>
